* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #f4f6f9;
}

.container {
  width: 95%;
  margin: auto;
}

header {
  background: linear-gradient(90deg, #1e90ff, #00b894);
  color: white;
  padding: 25px;
  border-radius: 12px;
  margin: 20px 0;
}

header h1 {
  font-size: 80px;
  text-align: center;
}

header p {
  font-size: 30px;
  opacity: 0.9;
  margin-top: 5px;
}

.chart-section {
  background: white;
  border-radius: 12px;
  padding: 90px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.chart-frame {
  width: 100%;
  height: 1200px;
  border: none;
  background: rgb(255, 255, 255);
}

.dashboard-content {
  padding: 20px 30px;
}

.charts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 kolom BESAR */
  gap: 30px;
  margin-top: 20px;
}

.chart-box {
  background: #ffffff;
  border-radius: 12px;
  padding: 15px;
  min-height: 4200px; /* INI KUNCI */
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}
